<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's get in touch!</title>
</head>
<body>
    <h1>Contact Me!</h1>
    <form action="/submit" method="post">
        <p>Name: <input type="text" name="Name"></p>
        <p>Email: <input type="text" name="Email"></p>
        <p>Message: <input type="textarea" name="Message"></p>
        <p><input type="submit" value="Submit Form"></p>
    </form>
</body>
</html>