<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style/style2.css" />
    <title>My Projects</title>
</head>
<body>
    <div id="wrapper">
        <h1 style="margin-left: 450px;">Scroll to see all my projects!</h1>
    <div id="projects">
        <div class="projectbox">
            <img src="~/img/download.png"/>
            <p>This is my project thumbnail! I worked super hard on this.</p>
        </div>
        <div class="projectbox">
            <img src="~/img/download.png"/>
            <p>This is my project thumbnail! I worked super hard on this.</p>
        </div>
        <div class="projectbox">
            <img src="~/img/download.png"/>
            <p>This is my project thumbnail! I worked super hard on this.</p>
        </div>
        <div class="projectbox">
            <img src="~/img/download.png"/>
            <p>This is my project thumbnail! I worked super hard on this.</p>
        </div>
        <div class="projectbox">
            <img src="~/img/download.png"/>
            <p>This is my project thumbnail! I worked super hard on this.</p>
        </div>
        <a href="/">Back to Home Page</a>
    </div>

    </div>
    
</body>
</html>