<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission!</title>
</head>
<body>
    <p>@DateTime.Now.ToString("ddd, d MMMM, yyyy")</p>
    <h1>Thanks for your submission!</h1>
    <h2>Here's what you sent:</h2>
    <p>Name: @ViewBag.Name</p>
    <p>Email: @ViewBag.Email</p>
    <p>Message: @ViewBag.Message</p>
    
    <a href="/">Back to home!</a>

</body>
</html>